.tool-box,.color-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    translate: 0 -50%;
}

.color-box{
    left: 0px;
}
.tool-box{
    right: 0px;
}